<p id="notice"><%= notice %></p>

<h1>Languages Movies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages_movies.each do |languages_movie| %>
      <tr>
        <td><%= link_to 'Show', languages_movie %></td>
        <td><%= link_to 'Edit', edit_languages_movie_path(languages_movie) %></td>
        <td><%= link_to 'Destroy', languages_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Languages Movie', new_languages_movie_path %>
